<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciamento de despesas de celular (INE5646)</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>

<body class="fundo">
  <div id="app" >
    <v-app>
     <v-toolbar :fixed="fixed" app>
      <v-spacer></v-spacer>
      <a id="titulo" href="/"><v-toolbar-title v-text="title" class="fonte"></v-toolbar-title></a>
      <v-spacer></v-spacer>
    </v-toolbar>
    <main class="fundo">
      <div class="outerDiv">
        <div class="innerDiv">
          <center><h2>Lista de despesas para o número <%= telefone %></h2>
            <a href="/despesas/create"><strong>Nova despesa</strong></a>&nbsp;|&nbsp;<a href="/"><strong>Voltar</strong></a>
            <hr>
            <br/>
            <% if(despesas.length>0) { %>
              <table class="list-table">
                <thead>
                  <tr>
                    <th>Data da despesa</th>
                    <th>Valor da despesa</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody>
        
                  <% for(var i=0; i<despesas.length;i++) { %>
                    <tr>
                      <td><%= despesas[i].mesAno%></td>
                      <td><%= despesas[i].valorDespesa%></td>
                      <td><a href="/despesas/show/<%= despesas[i]._id%>">Editar</a></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              <% } else { %>
                <div>Não há nenhum cadastro.</div>
              <% } %>        
          </center>
          </div>
        </div>
      </main>
      <footer>
        <span>&copy; 2018</span>
      </footer>
    </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    Vue.component('page', {
      template: '#page'
    })
    new Vue({
      el: '#app',
      data: {
        fixed: true,
        title: 'Gerenciamento de despesas de celular (INE5646)'     
      },

    })
  </script>
</body>

</html>