<!DOCTYPE html>
<html>
  <head>
    <title>Editar cadastro do despesa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="novo">
      <h3><a href="/despesas">Lista de despesas</a></h3>
      <h1>Editar cadastro</h1>
      <form action="/despesas/update/<%= despesa._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Número do celular</td>
              <td><input type="text" name="telefone" value="<%= despesa.telefone %>" /></td>
            </tr>
            <tr>
              <td>Data da despesa</td>
              <td><input type="date" name="mesAno"  value="<%= despesa.mesAno %>" /></td>
            </tr>
            <tr>
              <td>Valor da despesa</td>
              <td><input type="text" name="valorDespesa" value="<%= despesa.valorDespesa %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar cadastro</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
