<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de despesas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="novo">
      <h3><a href="/despesas/create">Novo cadastro</a></h3>
      <h1>Lista de despesas</h1>
      <% if(despesas.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Número do telefone</th>
            <th>Data da despesa</th>
            <th>Valor da despesa</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<despesas.length;i++) { %>
            <tr>
              <td><a href="/despesas/show/<%= despesas[i]._id%>"><%= despesas[i].telefone%></a></td>
              <td><%= despesas[i].mesAno%></td>
              <td><%= despesas[i].valorDespesa%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>Não há nenhum cadastro.</div>
      <% } %>
    </div>
  </body>
</html>
