<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de colaboradores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/colaboradores/create">Novo cadastro</a></h3>
      <h1>Lista de colaboradores</h1>
      <% if(colaboradores.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Nome do colaborador</th>
            <th>Função</th>
            <th>Setor</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<colaboradores.length;i++) { %>
            <tr>
              <td><a href="/colaboradores/show/<%= colaboradores[i]._id%>"><%= colaboradores[i].nome%></a></td>
              <td><%= colaboradores[i].funcao%></td>
              <td><%= colaboradores[i].setor%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>Não há nenhum cadastro.</div>
      <% } %>
    </div>
  </body>
</html>
